<tr hx-trigger="cancel" class="editing" hx-get="/waypoint/{{ id }}">
    <td>
        <input name="name" style="width:100%" value="{{ waypoint.name }}">
    </td>
    <td>
        <textarea name="description"
                  style="width:100%"
                  oninput="this.style.height = "";this.style.height = this.scrollHeight + "px"">{{ waypoint.description }}</textarea>
    </td>
    <td>
        <select name="type">
            {% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}
        </select>
    </td>
    <td>
        <input name="link" style="width:100%" value="{{ waypoint.link | string | replace("&amp;", "&") }}">
    </td>
    <td>
        <input name="coordinates"
               style="width:100%"
               value="{{ waypoint.latitude }}, {{ waypoint.longitude }}">
    </td>
    <td>
        <button class="btn btn-danger" hx-get="/waypoint/{{ id }}">Cancel</button>
        <button class="btn btn-primary"
                hx-put="/waypoint/{{ id }}"
                hx-include="closest tr">Save</button>
    </td>
</tr>
