<tr>
    <td>{{ waypoint.name }}</td>
    <td style="white-space:pre-wrap; word-wrap:break-word">{{ waypoint.description }}</td>
    <td>{{ waypoint.type }}</td>
    <td><a href={{ waypoint.link }}> {{ waypoint.link }} </a></td>
    <td><a href=https://www.openstreetmap.org/?mlat={{ waypoint.latitude }}&mlon={{ waypoint.longitude }}&zoom=15>{{ '%0.4f' % waypoint.latitude }}, {{ '%0.4f' % waypoint.longitude }}</a></td>
    <td>
        <button class="btn btn-primary" hx-get="waypoint/{{ id }}/edit">
          Edit
        </button>
        <button class="btn btn-danger" hx-confirm="Are you sure?" hx-delete="waypoint/{{ id }}">
            Delete
        </button>
    </td>
</tr>

