<tr hx-trigger="cancel" class="editing" hx-get="/point/{{ id }}">
    <td></td>
    <td>
        <input name="name" style="width:100%" value="{{ point.name or '' }}">
    </td>
    <td>
        <textarea name="description"
                  style="width:100%"
                  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ point.description or '' }}</textarea>
    </td>
    <td>
        <select name="category">
            {% for category in categories %}<option value="{{ category }}" {{ 'selected' if point.category == category else '' }}>{{ category }}</option>{% endfor %}
        </select>
    </td>
    <td>
        <input name="link" style="width:100%" value="{{ (point.link or '') | string | replace("&amp;", "&") }}">
    </td>
    <td><input id="party" type="datetime-local" name="timestamp" value="{{ "" if point.timestamp is none else point.timestamp.strftime('%Y-%m-%dT%H:%M') }}"/></td>
    <td>
        <input name="coordinates"
               style="width:100%"
               value="{{ point.latitude }}, {{ point.longitude }}"
               pattern="-?\d+(\.\d+)?,\s*-?\d+(\.\d+)?"
               title="Enter coordinates as latitude, longitude (e.g., 37.5665, 126.9780)"
               required>
    </td>
    <td>
        <button class="btn btn-danger" hx-get="/point/{{ id }}">Cancel</button>
        <button class="btn btn-primary"
                hx-put="/point/{{ id }}"
                hx-include="closest tr">Save</button>
    </td>
</tr>
